*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(135deg,Dodgerblue 0%,indigo 900%);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0 50px;
    z-index: 1000;
}

.logo{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
}

.logo i{
    font-size: 28px;
}

nav{
    display: flex;
    gap: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;

}

nav a:hover{
    background: rgba(255, 255, 255, 0.2);
}

.hero{
    position: relative;
    height:100vh ;
    background: linear-gradient(45deg, #f093fb 0%, #f5576c 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, pink);
    z-index: -1;
}

.hero-content{
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
}

.hero-content h1{
    font-size: 60px;
    margin-bottom:20px ;
}

.hero-content p{
    font-size: 24px;
    margin-bottom:30px ;
}

.btn{
    background: linear-gradient(rgb(9, 173, 228));
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn:hover{
    transform: scale(1.05);
}